<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body bgcolor="yellow">
  <center>
    <h1>Student Registration</h1>
      <a href="{% url 'stinsert' %}">Add New Student record</a>
    <table border="1" width="100" height="100">
        <tr>
            <th>Student Id</th>
             <th>Student Name</th>
             <th> Address</th>
             <th> City</th>
             <th> Email</th>
             <th> Phone</th>
        </tr>
        {% for displayst in Stud %}
        <tr>
            <td>{{displayst.sid}}</td>
            <td>{{displayst.sname}}</td>
            <td>{{displayst.sadds}}</td>
            <td>{{displayst.scity}}</td>
            <td>{{displayst.semail}}</td>
            <td>{{displayst.sphon}}</td>
            <td><a href="/Edit/{{displayst.sid}}">Edit</a> </td>
            <td><a href="/Delete/{{displayst.sid}}" onclick="return confirm('Are you sure want to delete ?')">Delete</a> </td>
        </tr>
        {% endfor %}
    </table>

  </center>

</body>
</html>